* {
  margin: none;
  padding: none;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #727272;
}
.btn {
  width: 11.25rem;
  height: 4rem;
  background-color: #ff900e;
  color: #ffffff;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}
body {
  max-width: 1920px;
  height: auto;
  font-family: "Work Sans", sans-serif;
}
main {
  margin-bottom: 130px;
}
/* common style ends here */
/* ====================================================== */
/* header style */
header {
  width: 1920px;
  background-color: hsla(32, 100%, 53%, 10%);
  margin-bottom: 5.3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3.1rem 15rem;
}
.name {
  font-size: 2.81rem;
  font-weight: bold;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 1.125rem;
}
/* banner style */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner.button {
  display: block;
  margin: 0 auto;
}
.banner img {
  padding-top: 3.1rem;
  padding-bottom: 2.8rem;
}
.brand {
  width: 53.875rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 3.1rem;
}
.brand h1 {
  font-size: 4rem;
}
.brand h1,
.brand p {
  text-align: center;
}
/* feature section style */
.feature-section {
  margin: 0 240px;
  margin-bottom: 10rem;
}
.feature-pic {
  display: grid;
  grid-template-areas:
    "pic-1 pic-2"
    "pic-3 pic-4";
  gap: 1.5rem;
}

.pic-1 {
  grid-area: pic-1;
}
.pic-2 {
  grid-area: pic-2;
}
.pic-3 {
  grid-area: pic-3;
}
.pic-4 {
  grid-area: pic-4;
}
.feature-head {
  display: flex;
  justify-content: space-between;
  margin: 0 3.2rem;
  margin-bottom: 8.1rem;
}

.feature-content {
  width: 33.56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-content h1 {
  font-size: 2.81rem;
  font-weight: 500;
  color: #727272;
}
.feature-content h1 span:nth-of-type(1) {
  font-weight: bold;
  color: #131313;
}
.feature-content h1 span:nth-of-type(2) {
  font-weight: bold;
  color: #ff900e;
}
.feature-container {
  display: flex;
  gap: 3.5rem;
}
.holder-head-heading {
  display: flex;
  gap: 21px;
}
.holder-head-heading div {
  height: 106px;
  width: 5px;
  background-color: #ff900e;
  border: none;
}
.holder-head-heading h3 {
  height: 106px;
  width: 468px;
  color: #131313;
  font-size: 2.83rem;
  font-weight: 600;
  margin-top: 0;
}
.card {
  box-shadow: 1px 1px 6px 3px hsla(0, 0%, 45%, 10%);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}
.card h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.feature-smiles {
  position: relative;
}
.feature-smiles p {
  margin: 0;
  height: 120px;
  width: 300px;
  text-align: center;
  padding: 2.32rem 2.12rem;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  bottom: -5px;
}
.feature-smiles p span {
  padding-top: 10px;
  font-size: 55px;
  font-weight: 600;
  display: block;
}
.feature-smiles img {
  margin-left: 92px;
  margin-bottom: 77px;
}

/* fact section  */
.fact-section {
  margin: 0 240px;
  margin-bottom: 180px;
}
.fact-head {
  margin-bottom: 100px;
}
.fact-head h3 {
  font-weight: bold;
  font-size: 45px;
  color: #131313;
  padding: 0;
  margin: 0;
}

.facts {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.f-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 36px;
  width: 241px;
  height: 241px;
  text-align: center;
}
.f-card h1 {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  padding: 0;
}
.f-card p {
  color: #727272;
  padding: 0;
}

/* sponsor section */
.sponsor-section {
  margin: 0 240px;
}
.sponsor-head {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  width: 500px;
}
.sponsor-head h3 {
  margin: 0;
  font-size: 45px;
  font-weight: 800;
  color: #131313;
}
.sponsor {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}
/* footer style */
.footer {
  background-color: hsla(32, 100%, 53%, 10%);
  margin: 0 240px;
  height: 50px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 130px;
  border-radius: 8px;
}
.footer p {
  color: #424242;
}
/* ===================================================== */
/* responsive for mobile phone */

@media screen and (max-width: 425px) {
  body {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  header {
    width: 100%;
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
  }

  .name {
    font-size: 1.8rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .brand {
    width: 100%;
    margin-bottom: 2rem;
  }

  .brand h1 {
    font-size: 2rem;
  }

  .btn {
    width: 8rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  /* responsive feature style */
  .feature-section {
    margin: 0;
  }
  .feature-head {
    display: flex;
    flex-direction: column;
  }
  .feature-pic {
    display: grid;
    grid-template-areas:
      "pic-1"
      "pic-2"
      "pic-3"
      "pic-4";
  }
  .pic-1 {
    grid-area: pic-1;
  }
  .pic-2 {
    grid-area: pic-2;
  }
  .pic-3 {
    grid-area: pic-3;
  }
  .pic-4 {
    grid-area: pic-4;
  }
  .feature-content {
    width: 23.56rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature-holder-head p {
    width: 420px;
    font-size: 14px;
  }
  .card {
    width: 410px;
    padding: 10px;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
  }
  .feature-smiles img {
    margin: 0;
    width: 100%;
  }
  .feature-smiles p {
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -115px;
    text-align: center;
  }
  .feature-smiles p span {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  /* fact section responsive */
  .fact-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 200px;
  }
  .fact-head {
    margin-bottom: 30px;
  }
  .facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-left: 0;
  }

  .f-card {
    padding: 25px 16px;
    width: 172px;
    height: 172px;
  }
  .f-card h1 {
    font-size: 25px;
    padding: 0;
  }
  /* sponsor section responsive */
  .sponsor-section {
    margin: 0;
    margin-top: 50px;
  }
  .sponsor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .sponsor-head {
    width: 425px;
  }
  .footer {
    margin: 0;
  }
  .footer p {
    font-size: 12px;
    margin: 20px auto;
  }
}
